<div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="assets/Img/home.png" class="img-fluid border border-primary" alt="Responsive image">
        </div>
        <div class="col-md-6">
            <h4>Loan Management Software</h4>
                    <h4 class="subheading">Customizable. Reliable. Scalable.</h4>
        <p class="text-muted">A comprehensive portfolio of end-to-end loan management software in Syndicated, Commercial, Consumer, & Mortgage Lending.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Loan Origination &
                Decisioning system</h4>
            <p class="text-muted">Automate your loan application process across multiple channels to make informed decisions about issuing or disapproving the loan at the initial stage itself.</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="assets/Img/detail2.png" class=" img-fluid border border-primary" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="assets/Img/detail3.png" class="img-fluid border border-primary" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Loan Management System.</h4>
                <p class="text-muted">Enhance all your procedures to manage multiple stages of a loan cycle after issuing a loan, resulting in higher productivity, lower overhead costs, and swift processes.</p>
                <p class="text-muted">The loan servicing feature will help you manage loans. Every loan is different: they have different interest rates, payment dates, and more. You can track all these loans and ensure that you receive payments on time. It allows you to calculate interests, fees, and more. A loan management solution can also assist you in automatically collecting funds via wire transfers, credit cards, and more. (More on the types of loans that loan management software can handle in the subsequent section.)</p>

    </div>
</div>
<div class="container-fluid text-center  text-black section2 ">
    <h1><b>Get solutions <br>specific to your domain.</b></h1><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off"></span>
            <i class="fa-solid fa-house-user"></i>
            <p>Home Loan</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart"></span>
            <i class="fa-solid fa-coins"></i>
            <p>Gold Loan</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock"></span>
            <i class="fa-solid fa-car"></i>
            <p>Vehicle Loans</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf"></span>
            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
            <p>Business Loan</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate"></span>
            <i class="fa-sharp fa-solid fa-school"></i>
            <p>Educational Loan</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench"></span>
            <i class="fa-regular fa-handshake"></i>
            <p>Personal Loan</p>
        </div>
    </div>
</div>
